{% extends "app/layout.html" %}

{% block content %}

<div class="col-md-9 top-right">
		<div class="about-content">
		 <h2>О нас</h2>
		 <div class="about-section">
			 <div class="about-grid">
				 <p>Я не только пишу статьи, но и рассказываю о любимых космических темах для любой аудитории, начиная со средней школы. Я неоднократно выступал на фестивалях науки, в институтах и на предприятиях, конференциях и выставках. Это могут быть мероприятия с платой для вход, либо бесплатные, для слушателей. Возможны приглашения на встречи с коллективом либо клиентами компании или организации.</p>
				 <p>На лекциях я стараюсь максимально просто и доходчиво объяснять суть происходящих событий, значимость достижений и важность открытий на Земле, под землей, в космосе, на Луне и Марсе. Развитие частной космонавтики и Роскосмоса — одно из важных направлений моих лекций: как развивается мировая космическая экономика, какое место в ней занимает российская космонавтика, как нам развиваться и занимать больше рынков.</p>
			 </div>
				 
		  </div>		 
</div>
	 </div>
		<div class="clearfix"> </div>
	</div>
	</div>
{% endblock %}
