{% extends "app/layout.html" %}

{% block content %}

<div class="col-md-9 top-right">
			<div class="banner">
					<div class="col-md-8 banner-left">
						<h2>Hand made design</h2>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
					</div>
					<div class="col-md-4 banner-right">
						<img src="images/img1.jpg" class="img-responsive" alt="" />
						<img src="images/img2.jpg" class="img-responsive" alt="" />
						<img src="images/img3.jpg" class="img-responsive" alt="" />
					</div>
						<div class="clearfix"> </div>
				</div>
				<div class="main">
						<div class="error-404 text-center">
							<h1>404</h1>
								<p>this link dead link</p>
								<a class="b-home" href="index.html">Back to Home</a>
						</div>
				</div>
	 </div>
		<div class="clearfix"> </div>
	</div>
	</div>

{% endblock %}
